<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Visualize Points</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/chance/1.0.8/chance.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.24.1/ramda.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <script src="//unpkg.com/vue-scrollto"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h3>
    Visualize Points
    <i class="fas fa-cubes"></i>
  </h3>

  <div class="no-gutters">
    <div class="row">
      <div class="col-12 col-sm-8 block" id="render-port">
      </div>
      <div class="col-0 col-sm-4" id="control-port">

        <div class="block">
          <h5>
            <i class="fas fa-mouse-pointer"></i>
            <small class="text-muted" id="header-label">
              <i class="fas fa-binoculars fa-spin"></i>
            </small>
          </h5>

          <div id="vue-forms">
            <div class="form-group row">
              <div class="col-sm-8">
                <button type="button" class="btn btn-primary btn-block" v-on:click="addNewPointSet">
                  <i class="fas fa-plus-circle"></i> Point Set</button>
              </div>
              <div class="col-sm-4">
                <a class="btn btn-info" href="about.html">
                  <i class="fas fa-info-circle"></i> Help</a>
              </div>
            </div>
            <p v-show="pointSets.length == 0" class="center">
              No Point Sets
            </p>
            <form class="rounded pad stripe set" v-show="pointSets.length != 0">

              <div class="form-group row tight">
                <div class="col-sm-6">
                  <input class="form-control" v-model="filter" placeholder="Filter Sets">
                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-info btn-block" v-on:click="toggleVisible">
                    <i class="fas fa-eye-slash"></i>
                  </button>
                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-danger btn-block" v-on:click="purgeVisible">
                    <i class="fas fa-times-circle"></i>
                  </button>
                </div>
              </div>

            </form>
            <div id="scroll-target" class="data-col border rounded white">
              <template v-for="(item, index) in pointSets">
                <form class="rounded pad stripe set" :id="item.name.replace(/\s+/g, '')">
                  <h5 class="center" v-bind:style="{ textDecoration: item.name.includes(filter) ? '' : 'line-through' }">
                    {{item.name}}
                  </h5>
                  <div v-show="item.name.includes(filter)">

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <button type="button" class="btn btn-info btn-block" v-on:click="item.visible = !item.visible">
                          <span v-show="item.visible">
                            <i class="fas fa-eye-slash"></i>&nbsp; Hide</span>
                          <span v-show="!item.visible">
                            <i class="fas fa-eye"></i>&nbsp; Show</span>
                        </button>
                      </div>
                      <div class="col-sm-6">
                        <button type="button" v-show="item.visible" class="btn btn-danger btn-block" v-on:click="pointSets.splice(index, 1)">
                          <i class="fas fa-times-circle"></i>&nbsp; Remove
                        </button>
                        <p v-show="!item.visible">
                          Hidden point set.
                        </p>
                      </div>
                    </div>

                    <div v-show="item.visible">
                      <div class="form-group row">
                        <label for="name-input" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input id="name-input" class="form-control" v-model="item.name" placeholder="Name">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="color-input" class="col-sm-2 col-form-label">Color</label>
                        <div class="col-sm-6">
                          <input id="color-input" class="form-control" v-model="item.color0" placeholder="#3A015C">
                        </div>
                        <div class="col-sm-4">
                          <input v-bind:style="{ backgroundColor: item.color0 }" disabled="disabled" class="form-control" placeholder="">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="size-input" class="col-sm-2 col-form-label">Size</label>
                        <div class="col-sm-10">
                          <input class="form-control" v-model="item.size" placeholder="0.2" type="number" min="0.05" max="2.0" step="0.1">
                        </div>
                      </div>


                      <div class="form-group row">
                        <label for="type-select" class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                          <select id="type-select" class="form-control" v-model="item.type">
                            <option>sphere</option>
                            <option>cloud</option>
                            <option>path</option>
                            <option>vector</option>
                            <option>plane</option>
                          </select>
                        </div>
                      </div>

                      <p v-show="item.points_raw.length >= 10000">
                        {{item.points.length}} points suppressed: over limit.
                      </p>
                      <div v-show="item.points_raw.length < 10000" class="form-group">
                        <textarea class="form-control data-set" v-model="item.points_raw" placeholder="json of points"></textarea>
                      </div>
                    </div>
                  </div>

                </form>
              </template>
            </div>

            <div id="lower-section">

              <div class="form-group center row space-form">
                <div class="col-6">
                  <button type="button" class="btn btn-secondary" v-on:click="downloadCurrentSet">
                    <i class="fas fa-save"></i> Download</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-secondary btn-clipboard" v-show="url !== false" data-clipboard-target="#clipboard-target">
                    <i class="fas fa-clipboard"></i> Clipboard</button>
                  <input id="clipboard-target" value="[]" v-model="url">
                  <p v-show="(url_raw.length / 8192) > 1">{{Math.round(100 * (url_raw.length / 8192) - 100)}}% Over Clipboard</p>
                </div>
              </div>

              <form>
                <div class="form-group">
                  <div v-bind:class="{ alert: true, 'alert-warning': pointSets.length != 0, 'alert-light': pointSets.length == 0 }" role="alert">
                    <span v-show="pointSets.length != 0">
                      Overwrite Existing Points
                    </span>
                    <span v-show="pointSets.length == 0">
                      Upload JSON Point Sets
                    </span>
                    <input type="file" class="form-control-file" id="txtfiletoread" />
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="feedback">
    <p id="hover">Content!</p>
  </div>
  <script src="THREE.MeshLine.js"></script>
  <script src="trackballcontrols.js"></script>
  <script src="stats.min.js"></script>
  <script src="index.js"></script>
</body>

</html>